:root {
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: LibreFranklin;
  src: url(./assets/fonts/LibreFranklin-VariableFont_wght.ttf);
}


body {
  font-family: LibreFranklin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}